{% extends "layout.html" %}

{% block body %}

<header>
       
    <div class="logo">
            <img src="https://i.ibb.co/Th6kzYg/wechatsmall.png" alt="wechatsmall" border="0">


    </div>
    <nav>
        <ul> 
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact Us</a></li>

        </ul>
    </nav>
</header>
<main>
    <section class="main-section-1" id="about">
        <article class="main-section-1-article-1">
            <h3>We provide the best of services when it comes to software development</h3>
            <p>We  are a people who live by our word. What is it that you would want to build? You name it, we've got you covered.</p>
            <div>
            <input type="button" value="Test Us">
        </div>
        </article>
        <article class="main-section-1-article">
                <img src="https://img.freepik.com/free-vector/people-office-with-their-activities-discussing-working-with-computer-with-office-interior-illustration_142963-128.jpg?size=626&ext=jpg"
                alt="people-office-with-their-activities-discussing-working-with-computer-with-office-interior-illustration_">
           

        </article>
    </section>
    <section class="main-section-2">
        <div class="main-section-2-div" id="pricing">
            <h4>100% free prize-tools</h4>
            <a href="#">Discover</a>
        </div>
        <div class="main-section-2-div">
                <h4>Dedicated messaging with your colleagues</h4>
                <a href="#">Discover</a>
        </div>
        <div class="main-section-2-div">
                <h4>Go Agile</h4>
                <a href="#">Discover</a>
        </div>
        <div class="main-section-2-div">
                <h4>Save Time for Developing</h4>
                <a href="#">Discover</a>
        </div>
        <div class="main-section-2-div">
                <h4>High Level of Security</h4>
                <a href="#">Discover</a>
        </div>
        <div class="main-section-2-div">
                <h4>Scale your operations</h4>
               <a href="#">Discover</a>
        </div>
    </section>
    <section class="main-section-3">
        <h4>Our Trusted Partners</h4>
        <ul>
            <li><i class="fab fa-atlassian"></i></li>
            <li><i class="fa fa-etsy" aria-hidden="true"></i></li>
            <li><i class="fas fa-arrows-alt"></i></li>
            <li><i class="fab fa-android"></i></li>
            <li><i class="fab fa-aws"></i></li>
        </ul>
    </section>
    <section class="main-section-4">
        <article>
                <img src="https://i.pinimg.com/originals/56/40/b8/5640b80b4185930d67ab99122dd1c985.jpg" alt="people working">
        </article>
        <article class="main-section-4-article-2">
            <h3>Wouldn't you rather work with us?</h3>
            <p>Our track record, customer testimonals and satisfaction speak for themselves. </p>
            <p>We have the best of hands and minds, and we always value you above all else.</p>
            <div>
            <input type="button" value="Test Us">
            </div>
        </article>
    </section>
    <footer class="footer" id="contact">
        <div class="footer-section-1">
        <div class="logo">
                <img src="https://i.ibb.co/Th6kzYg/wechatsmall.png" alt="wechatsmall" border="0">

        </div>
        <div>
            <h2>About</h2>
            <ul>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h2>Useful Links</h2>
            <ul>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Gift Card</a></li>
                <li><a href="#">Upcoming Products</a></li>
            </ul>
        </div>
        <div>
            <h2>Affiliates</h2>
            <ul>
                <li><a href="#">Benefits And Services</a></li>
                <li><a href="#">Become An Affiliate</a></li>
                
            </ul>
        </div>
    </div>

    <div class="footer-section-2">
            <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></li>
                </ul>
             <hr>

             <p> &copy WeTech 2020</p>

    </div>

    </footer>

</main>




</body>


{% endblock %}